body {
    padding: 8px 16px 0px 8px;
}

header {
    padding: 0 0 16px 0;
}

li {
    list-style: none;
    margin-bottom: 4px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul, ol {
    margin-top: 0;
    padding-left: 0;
}

a, a:hover, a:visited, a:active {
    color: #000;
}

h1 a {
    text-decoration: none;
}

p {
    margin-top: 0;
}

img {
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 36em) {
    article {
        width: calc(100% - 200px);
        float: right;
        margin-right: 0;
    }
    nav {
        width: 200px;
        float: left;
        margin-left: 0;
    }
    footer {
        clear: both;
    }

}
